* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color:#e7e7e7 ;
    min-height: 100vh;
    line-height: 1.5;
    overflow-x: hidden;
}


/* GRADIENT AND LAYER BLUR EFFECT */
.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;

}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

#heading {
    display: flex;
    align-items: center;
    /* margin: 10px;
    padding: 10px; */
    justify-content: center;
}

#list {
    margin: 6%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content:center;
}

#list-item {
    list-style-type:upper-alpha;
}

#Back {
    color: aqua;
    position: absolute;
    
}