
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

/* html, body {
    overflow: auto;
} */

body{
    background-color: black;
    color:#e7e7e7 ;
    min-height: 100vh;
    line-height: 1.5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.btn-box{
    background-color:rgb(255, 255, 255);
    
    height: 200px;
    width: 190px;
    margin: 15px;
    padding: 15px;
}

#generator{
    font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: flex;
  align-items: center;
  margin: 20px;
}

.btn-box{
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(136, 2, 245);
}

#generator {
    border-radius: 23px;
    box-shadow: 4px 4px 4px rgb(144, 0, 254);
}