*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .logo {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 25px;
}

.quick-search{
    overflow: scroll scroll;
} */

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: black;
    color:#e7e7e7 ;
    min-height: 100vh;
    line-height: 1.5;
}

/* GRADIENT AND LAYER BLUR EFFECT */
.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;

}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

/* CONTAINER */
.container{
    width: 100%;
    margin:0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

/* HEADER */
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    
}

header h1{
    margin: 0px;
    font-size: 3rem;
    font-weight: 300;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color:inherit;
    z-index: 999;
}

nav a:hover{
    color: #a7a7a7;
}

.btn-signing{
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius:50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;
}

.btn-signing:hover{
    background-color: white;
    
}

/* MAIN ELEMENT  */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content {
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box {
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #a7a7a7 #7f42a7 #6600c5);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgpa(255, 255, 255, 0.3);

}

@keyframes animateGradient {
    to {
        background-position: 200%;

    }
}

.tag-box .tag{
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.tag-box .tag:hover {
    color: #5300a0;

}

.content h1 {
    font-size: 4rem;
    font-weight:600px;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgpa(128, 128, 128, 0.418);
}

.description {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;

}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.btn-get-started {
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7em 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}

.btn-get-started:hover {
    background-color: #1a1a1a;
}

.btn-signing-main {
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7em 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
    background-color: lightgray;
}

.btn-signing-main:hover {
    background-color: gray;
}

.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
}

/* TABLET RESPONSE */
@media (max-width: 1300px){
    header{
        padding: 1rem 0.5rem;
    }
    .content{
        margin-top: 85%;
    }
    
    .robot-3d {
        scale: 0.8;
        top:-20%;
        right: 2%;
    }
}


/* MOBILE RESPONSIVE */
@media (max-width: 768px){
    header{
        padding: 1rem 0.1rem;
    }

    nav{
        display: none;
    }

    header h1 {
        font-size: 2rem;
    }

    .btn-signing{
        padding: 0.6rem 1.5rem;
    }

    .content{
        margin-top: 25rem;
    }

    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: 0;
    }
    .content{
        max-width: 30rem;
        margin-left: 10%;
    }

    .tag-box{
        width: 12rem;
    }

    .content h1{
        font-size: 2.5rem;
    }

    .description {
        font-size: 1rem;
    }

    .btn-get-started{
        font-size: 0.8rem;
        padding: 0.5em 1.2rem;
    }

    .btn-signing-main{
        font-size: 0.8rem;
        padding: 0.8em 2rem;
    }
}

.input-css{
    height: 300px;
    width: 400px;
    display: flex;
    border-radius: 25px;
    background-color: white;
    box-shadow: 4px 4px 10px 4px rgb(253, 251, 251);
    border: none;
    padding: 15px;
}

/* .CSS-heading {
    box-shadow: 4px 4px 10px 4px rgb(255, 255, 255)
} */

#copyright {
    font-size: 10px;
}